{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <h1>S'enregistrer</h1>

    {{ form_start(registrationForm) }}
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}

        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}

        {{ form_label(registrationForm.agreeTerms) }}

        <br>

        {{ form_widget(registrationForm.agreeTerms) }}

        {{ form_row(registrationForm.submit) }}

    {{ form_end(registrationForm) }}

{% endblock %}
