{% extends 'base.html.twig' %}

{% block title %}Testimonials index{% endblock %}

{% block body %}
    <h1>Testimonials index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testimonial in testimonials %}
            <tr>
                <td>{{ testimonial.id }}</td>
                <td>{{ testimonial.pseudo }}</td>
                <td>{{ testimonial.content }}</td>
                <td>
                    <a href="{{ path('testimonials_show', {'id': testimonial.id}) }}">show</a>
                    <a href="{{ path('testimonials_edit', {'id': testimonial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('testimonials_new') }}">Create new</a>
{% endblock %}
