{% extends "base.html.twig" %}

{% block body %}

<br><br>

<div class="container">

    <h1>Témoignages</h1>
    <br>
    <a href="{{ path('testimonials_new') }}" class="custom-btn" title="ajouter un témoignage">Ajouter un témoignage</a>
    <hr>
    <br>
    {% for testimonial in testimonials %}
    <p>
        {{ testimonial|raw }}
    </p>
    <b><span class="span-italic">- {{ testimonial.pseudo }} -</span></b>

    {% if is_granted('ROLE_ADMIN') %}
    <br>
    <a href="{{ path('delete_testimonial', {'id':testimonial.id}) }}" class="custom-btn"
        onclick="return confirm('Supprimer ce témoignage ?')">Supprimer</a>
    {% endif %}

    <hr class="hr-white">
    <hr class="hr-white">
    <hr class="hr-white">
    {% endfor %}


    <div class="paginator">
        {{ knp_pagination_render(testimonials) }}
    </div>

</div>

{% endblock %}