{% extends 'base.html.twig' %}
{% block title %}Test de consommation{% endblock %}

{% block body %}

<div class="container">


    <h1>Mes consommations</h1>

    <a href="{{ path('drink_add') }}" class="btn btn-secondary">Ajouter une consommation</a>

    <hr>

    {% if app.user is not null and app.user.drinks is not empty %}

    <div class="container-center">
        {% for drink in drinks %}
        <div class="card">
            <h5 class="card-header">{{ drink.date|date('d/m/y') }}</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    <img src="{{ asset(drink.alcool.imgPath) }}" class="alcool-png">
                </h6>
                <p class="card-text">{{ drink.quantity }} unités</p>
                <p class="card-text"><b>{{ drink.cost }} €</b> dépensés</p>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('drink_update', {'id': drink.id}) }}" class="btn btn-secondary">Editer</a>
                    <a href="{{ path('drink_delete', {'id':drink.id}) }}" class="btn btn-danger"
                    onclick="return confirm('Voulez-vous supprimer cette consommation ?') ">Supprimer</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>

    {% else %}

    <div class="container">
        <p>
            Vous n'avez aucune consommation enregistrée pour le moment.
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}