{% extends 'base.html.twig' %}
{% block title %}Tableau de suivi des consommations{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="infoConso" tabindex="-1" aria-labelledby="infoConsolLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="infoConsolLabel">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    name="close modal"></button>
            </div>
            <div class="modal-body bg-dark">
                <p>
                    Une unité d'alcool correspond à : <br>
                <ul>
                    <li>
                        - 25cl de bière à 5.5°
                    </li>
                    ou
                    <li>

                        - 12cl de vin à 12 °
                    </li>
                    ou
                    <li>
                        - 4cl d'alcool fort à 40°
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Mes consommations</h1>

    <a href="{{ path('drink_add') }}" title="Ajouter une consommation" class="custom-btn">Ajouter une consommation</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#infoConso" name="open modal">
        {# <i class="fas fa-info-circle fa-2x"></i> #}
        <img src="{{ asset('assets/images/info.png') }}" alt="information">
    </button>

    <hr>

    {% if app.user is not null and app.user.drinks is not empty %}

    <div class="container-center">
        {% for drink in drinks %}
        <div class="card">
            <h5 class="card-header">{{ drink.date|date('d/m/y') }}</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    <img src="{{ asset(drink.alcool.imgPath) }}" class="alcool-png" alt="Icône alcool">
                </h6>
                <p class="card-text">{{ drink.quantity }} unités</p>
                <p class="card-text"><b>{{ drink.cost }} €</b> dépensés</p>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('drink_update', {'id': drink.id}) }}" title="Mettre à jour une consommation"
                        class="custom-btn">Editer</a>
                    <a href="{{ path('drink_delete', {'id':drink.id}) }}" title="Supprimer une consommation"
                        class="btn btn-danger"
                        onclick="return confirm('Voulez-vous supprimer cette consommation ?') ">Supprimer</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>

    {% else %}

    <div class="container">
        <p>
            Vous n'avez aucune consommation enregistrée pour le moment.
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}