{% extends 'base.html.twig' %}
{% block title %}Tableau de suivi des consommations{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="infoConso" tabindex="-1" aria-labelledby="infoConsolLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="infoConsolLabel">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    name="close modal"></button>
            </div>
            <div class="modal-body bg-dark">
                <p>
                    Une unité d'alcool correspond à : <br>
                <ul>
                    <li>
                        - 25cl de bière à 5.5°
                    </li>
                    ou
                    <li>

                        - 12cl de vin à 12 °
                    </li>
                    ou
                    <li>
                        - 4cl d'alcool fort à 40°
                    </li>
                </ul>
                </p>
                <p>
                    Une sobriété correspond à un jour où vous avez résisté à un craving, par exemple.
                </p>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <h1>Mon suivi</h1>

    <a href="{{ path('drink_add') }}" title="Ajouter une consommation" class="custom-btn">Ajouter une consommation</a>
    <br><br>
    <a href="{{ path('sober_add') }}" title="Ajouter une sobriete" class="custom-btn">Ajouter une sobriété</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#infoConso" name="open modal">
        {# <i class="fas fa-info-circle fa-2x"></i> #}
        <img src="{{ asset('assets/images/info.png') }}" alt="information">
    </button>

    <hr>

    <div class="container-center">
        {% if app.user is not null and sobers is not empty %}
        <div class="card">
            <h5 class="card-header">
                {% if sobers|length <= 1 %} {{ sobers|length }} jour de sobriété</h5>
                    {% else %}
                    {{ sobers|length }} jours de sobriété</h5>
            {% endif %}

            <div class="card-body sober-card">
                {% for sober in sobers %}
                <span class="card-subtitle mb-2 text-muted greenScore d-flex justify-content-between">
                    {{ sober.date|date('d/m/y') }} <a href="{{ path('sober_remove', {'soberId':sober.id}) }}"
                        class="btn btn-outline-danger">&Cross;</a>
                </span>
                <br>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if app.user is not null and app.user.drinks is not empty %}
        {% for drink in drinks %}
        <div class="card">
            <h5 class="card-header">{{ drink.date|date('d/m/y') }}</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    <img src="{{ asset(drink.alcool.imgPath) }}" class="alcool-png" alt="Icône alcool">
                </h6>
                <p class="card-text">{{ drink.quantity }} unités</p>
                <p class="card-text"><b>{{ drink.cost }} €</b> dépensés</p>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('drink_update', {'id': drink.id}) }}" title="Mettre à jour une consommation"
                        class="custom-btn btn-settings">+/-</a>
                    <a href="{{ path('drink_delete', {'id':drink.id}) }}" title="Supprimer une consommation"
                        class="btn btn-danger"
                        onclick="return confirm('Voulez-vous supprimer cette consommation ?') ">&cross;</a>
                </div>
            </div>
        </div>
        {% endfor %}

        {% elseif app.user is not null and sobers|length >= 1 %}

        <div class="big-text">
            <h1>bravo</h1>
        </div>

        {% else %}

        <div class="container">
            <p>
                Vous n'avez aucune consommation enregistrée pour le moment.
            </p>
        </div>
        {% endif %}
    </div>
    <hr>


</div>

{% endblock %}