{% extends 'base.html.twig' %}

{% block title %}Ajouter une consommation{% endblock %}

{% block body %}

<br><br>

<div class="container">

    <div class="container-center">
        {{ form_start(form) }}

        <h2>Quel type d'alcool avez-vous bu ?</h2>
        <div>
            {{ form_label(form.alcool) }}
            <br>
            {{ form_widget(form.alcool) }}
        </div>


        <h2>Quelle quantité avez-vous bu ?</h2>
        <div>
            {{ form_label(form.quantity) }}
            <br>
            {{ form_widget(form.quantity) }}
        </div>

        <h2>Combien avez-vous dépensé ?</h2>
        <div>
            {{ form_label(form.cost) }}
            <br>
            {{ form_widget(form.cost) }}
        </div>


        <h2>Date de cette consommation ?</h2>
        <div>
            {{ form_label(form.date) }}
            <br>
            {{ form_widget(form.date) }}
        </div>

        <br><br>

        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
</div>
</div>
{% endblock %}