<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
    {% block metadescription %}{% endblock %}
    <meta name="google-site-verification" content="Wug1WNXTFOb4DLNL5JstVtp3r1nRBv47FCgGvH8tVFQ" />

    <title>{% block title %}Arrêter l'alcool et sortir de la dépendance{% endblock %}</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="{{ asset('assets/images/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/images/apple-touch-icon.png') }}">

    {#
    S T Y L E S
    #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    {% block stylesheets %}

    {% endblock %}
</head>

<!--***************************BODY****************************-->

<body>
    <section class="main-section">

        {# Flash messages #}
        <div class="flash-container">
            {% for label, messages in app.flashes %}
            {% for message in messages %}

            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endfor %}
        </div>

        {# NAV #}
        {% include("menu/nav.html.twig") %}

        <!-- Back to top button -->
        <a id="toTop"></a>

        {% block body %}
        {% endblock %}
    </section>
    <!-- FOOTER -->
    {% block footer %}
    {% include('footer/footer.html.twig') %}
    {% endblock %}

    {# JS #}
    {% block javascripts %}
    <script src="{{ asset('script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"
        defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
        integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
        crossorigin="anonymous" defer></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}" defer></script>
    <script src="{{ asset('assets/js/app.js') }}" defer></script>


    <!-- COOKIES CONSENT-->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#000"
                },
                "button": {
                    "background": "#f1d600"
                }
            },
            "content": {
                "message": "Ce site web utilise des cookies.",
                "dismiss": "Ok merci de m'avoir informé !",
                "link": "En savoir plus"
            }
        });
    </script>

    {% endblock %}

    {% if 'production' == app_env %}
    <!-- Start of Woopra Code -->
    <script>
        !function () { var t, o, c, e = window, n = document, r = arguments, a = "script", i = ["call", "cancelAction", "config", "identify", "push", "track", "trackClick", "trackForm", "update", "visit"], s = function () { var t, o = this, c = function (t) { o[t] = function () { return o._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), o } }; for (o._e = [], t = 0; t < i.length; t++)c(i[t]) }; for (e.__woo = e.__woo || {}, t = 0; t < r.length; t++)e.__woo[r[t]] = e[r[t]] = e[r[t]] || new s; (o = n.createElement(a)).async = 1, o.src = "https://static.woopra.com/js/w.js", (c = n.getElementsByTagName(a)[0]).parentNode.insertBefore(o, c) }("woopra");

        woopra.config({
            domain: "monpoison.fr",
            outgoing_tracking: true,
            download_tracking: true,
            click_tracking: true
        });

        woopra.track();
    </script>
    <!-- End of Woopra Code -->
    {% endif %}

</body>

</html>