{% extends 'base.html.twig' %}
{% block title %} Objectifs à atteindre {% endblock %}

{% block metadescription %}
<meta name="description" content="Ajouter des objectifs à atteindre pour diminuer sa consommation d'alcool">
{% endblock %}

{% block body %}

<br><br>

<div class="container">

    {{ form_start(form) }}
    {{ form_label(form.content) }}
    <br>
    {{ form_widget(form.content) }}
    <br><br>
    {{ form_label(form.isAchieved) }}
    <br>
    {{ form_widget(form.isAchieved) }}
    <br>
    <br>
    {{ form_row(form.submit) }}
    <br>
    <a href="{{ path('goals') }}" class="custom-btn">Annuler</a>

    {{ form_end(form)}}

</div>

{% endblock %}