{% extends 'base.html.twig' %}

{% block metadescription %}
<meta name="description" content="Objectifs à atteindre pour diminuer sa consommation d'alcool">
{% endblock %}

{% block title %}Objectifs pour diminuer l'alcool{% endblock %}

{% block body %}

{% include('goal/modal.info.html.twig') %}

<br><br>

<div class="container">
    <h1>Objectifs à atteindre</h1>
    <p>Fixez-vous des objectifs à atteindre pour arrêter ou diminuer l'alcool</p>


    <!-- Button trigger modal exemples-->
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#infoGoal" name="open modal">
        <img src="{{ asset('assets/images/info.png') }}" alt="information" class="info-icon">
    </button>
    <br>
    <br>
    <a href="{{ path('add_goal') }}" class="custom-btn" title="Ajouter un objectif">Ajouter un objectif</a>

    <br><br>

    <div class="flex-left-right">
        <ul>
            {% for goal in goals %}
            <li>
                {% if goal.isAchieved == false %}
                <div>
                    <span class="dangerScore goalAchievement" data-id="{{ goal.id }}">
                       {{ goal.content }}
                    </span>
                </div>
                <div>
                    <button class="custom-btn set-achievement">&circlearrowleft;</button>
                    <a href="{{ path('remove_goal', {'id':goal.id}) }}" title="Supprimer un objectif"
                        class="btn btn-danger" onclick="return confirm('Supprimer cet objectif ?')">&cross;</a>
                </div>
                {% else %}
                <div>
                    <span class="greenScore goalAchievement" data-id="{{ goal.id }}">
                        {{ goal.content }}
                    </span>
                </div>
                <div>
                    <button class="custom-btn set-achievement">&circlearrowleft;</button>
                    <a href="{{ path('remove_goal', {'id':goal.id}) }}" title="Supprimer un objectif"
                        class="btn btn-danger" onclick="return confirm('Supprimer cet objectif ?')">&cross;</a>
                </div>
                {% endif %}
                <br>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>


{% endblock %}