{% extends 'base.html.twig' %}

{% block title %}Partie blog de monpoison.fr{% endblock %}

{% block metadescription %}
<meta name="description"
    content="Divers articles sur la consommation d'alcool, anecdotes, chiffres sur l'alcoolodépendance">
{% endblock %}

{% block body %}

<br>

<form class="search-post">
    <input type="text" placeholder="rechercher">
</form>

<br>

<div class="container">
    {% for post in posts %}
    {% if post.isPublished == 1 %}

    <div class="container-post">
        <h1 class="post-title" data-title="{{ post.title }}">
            {{ post.title }}
        </h1>

        <p>
            {{ post.content|slice(0, 250)|raw }} ...
        </p>

        <a href="{{ path('post_show', {'id': post.id, 'slug': post.slug}) }}">Lire plus...</a>
        <br>
        <hr>

        {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ path('post_edit', {'id': post.id}) }}" class="custom-btn" title="modifier l'article">Modifier</a>
        <br>

        <hr>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}