<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Mon profil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('user_account') }}">Tableau de bord</a></li>
                        <li><a class="dropdown-item" href="{{ path('drink_calendar') }}">Mes consommations</a></li>

                    </ul>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('alcool_test') }}">Test de dépendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">L'alcool en chiffres</a>
                </li>
                <li class="nav-item">
                    {% if app.user %}
                    <a class="nav-link active" aria-current="page" href="{{ path('logout') }}">Se déconnecter</a>
                    {% else %}
                    <a href="{{path('login')}}" type="button" class="btn btn-secondary">Se connecter</a>
                    <a href="{{path('app_register')}}" type="button" class="btn btn-primary">s'enregistrer</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>