<button class="btn btn-dark main-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    |||
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if app.user %}
        <h2>Vous êtes connecté en tant que {{ app.user.email }}</h2>
        {% else %}
        <h2>Vous nêtes pas connecté</h2>
        <a href="{{path('login')}}" type="button" class="btn btn-secondary">Se connecter</a>
        <a href="{{path('app_register')}}" type="button" class="btn btn-primary">s'enregistrer</a>
        {% endif %}

        <hr>

        <ul>
            <li>
                <a href="">Mon compte</a>
            </li>
            <li>
                <a href="{{ path('alcool_test') }}">Test dépendance</a>
            </li>
            <li>
                <a href="{{ path('drink_calendar') }}">Tableau de bord des consommations</a>
            </li>
        </ul>
    </div>
</div>