<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" name="collapse navbar">
            <span>
                |||
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                </li>
                {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Mon profil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" rel="noreferrer" href="{{ path('user_account') }}"
                                title="Tableau de bord de mes consommations">Tableau de bord</a></li>
                        <li><a class="dropdown-item" rel="noreferrer" href="{{ path('drink_calendar') }}"
                                title="Suivi de mes consommations">Mes consommations</a></li>
                        <li><a class="dropdown-item" rel="noreferrer" href="{{ path('alcool_arguments') }}"
                                title="Avantages et inconvénients">Mes
                                arguments</a></li>
                        <li>
                            <a class="dropdown-item" rel="noreferrer" aria-current="page" href="{{ path('logout') }}"
                                title="Déconnexion">Se
                                déconnecter</a>
                        </li>
                    </ul>
                </li>

                {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Mon profil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a href="{{path('login')}}" type="button" class="dropdown-item" rel="noreferrer"
                                title="Se connecter">Se
                                connecter</a>
                        </li>
                        <li>
                            <a href="{{path('app_register')}}" type="button" class="dropdown-item"
                                title="S'enregistrer">S'enregistrer</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                        <li>
                            <a class="dropdown-item" rel="noreferrer" href="{{ path('post_new') }}"
                                title="ajouter un article">Nouvel article</a>
                        </li>
                        <li>
                            <a href="{{ path('post_status') }}" type="button" class="dropdown-item" rel="noreferrer"
                                title="articles index">Index articles</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTest" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tests
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTest">
                        <li>
                            <a class="dropdown-item" href="{{ path('alcool_test') }}" title="Test de dépendance">Test de
                                dépendance</a>
                        </li>
                        <li>
                            <a href="{{ path('ethylotest') }}" type="button" class="dropdown-item"
                                title="ethylotest">Ethylotest en ligne</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHelp" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ressources
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownHelp">
                        <li>
                            <a class="dropdown-item" href="{{ path('alcool_stats') }}"
                                title="L'alcool en chiffres">L'alcool en chiffres</a>
                        </li>
                        <li>
                            <a href="{{ path('testimonials') }}" class="dropdown-item"
                                title="temoignages">Témoignages</a>
                        </li>
                        <li>
                            <a href="https://annuaire.action-sociale.org/etablissements/readaptation-sociale/centre-de-soins-accompagnement-prevention-addictologie-197.html"
                                title="centres csapa en France" class="dropdown-item" target='_blank'
                                rel="noreferrer">Liste des csapa</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('post_index') }}" title="blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}" title="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>