{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}


<div class="container">
    <h1>Mon profil</h1>
    <hr>
    <h2>Statistiques</h2>
    <table class="table">
        <tr>
            <td>
                Score de dépendance :
            </td>
            <td>
                {% if user.alcoolScore is not null %} {{user.alcoolScore }} {% else %}
                <a href="{{ path('alcool_test') }}">Faire le test</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                Boissons consommées sur 7 jours :
            </td>
            <td>
                {{ lastWeekDrinks[1] }}
            </td>
        <tr>
            <td>
                Argent dépensé sur 7 jours :
            </td>
            <td>
                {{ lastWeekCost[1] }} €
            </td>
        </tr>
        <tr>
            <td>
                Boissons consommées au total :
            </td>
            <td>
                {{ drinks|reduce((q, drink) => q + drink.quantity) }}
            </td>
        </tr>
        <tr>
            <td>
                Argent dépensé au total :
            </td>
            <td>
                {{ drinks|reduce((c, drink) => c + drink.cost) }} €
            </td>
        </tr>
    </table>

    <br>
    <br>

    <canvas id="myChart" width="400" height="400"></canvas>
    <input type="hidden" data-beer="{{ xBeer }}" id="xBeer">
    <input type="hidden" data-wine="{{ xWine }}" id="xWine">
    <input type="hidden" data-spiritus="{{ xSpiritus }}" id="xSpiritus">

    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            console.log($('.table').data('drinks'));
            const ctx = document.getElementById('myChart');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [
                        'Bière',
                        'Vin',
                        'Alcool fort'
                    ],
                    datasets: [{
                        label: 'Répartition des alcools',
                        data: [
                            $("#xBeer").data('beer'),
                            $('#xWine').data('wine'),
                            $('#xSpiritus').data('spiritus')
                        ],
                        backgroundColor: [
                            'rgb(255, 205, 86)',
                            'rgb(115, 18, 18, 1)',
                            'rgb(250, 122, 3, 1)'
                        ],
                        hoverOffset: 4
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                font: {
                                    size: 24,
                                    position: 'center'
                                }
                            }
                        }
                    }
                }
            })
        });
    </script>

    <hr>

    <h2>Options</h2>

    <a href="{{ path('delete_user') }}" class="btn btn-danger"
        onclick="return confirm('Supprimer définitivement votre compte ?')">Supprimer mon compte</a>

</div>
{% endblock %}