{% extends 'base.html.twig' %}

{% block title %}Mon tableau de bord{% endblock %}

{% block body %}

<br><br>

<div class="container">
    <h1>Mon profil</h1>
    <hr>
    <h2>Statistiques</h2>
    <table class="table">
        <tr>
            <td>
                Score de dépendance :
            </td>
            <td>
                {% set score = user.alcoolScore %}
                {% if score is not null %}
                {% if score > 0 and score <= 5 %} <span class="greenScore">Faible</span>
                    {% elseif score >= 6 and score <= 8 %} <span class="middleScore">Moyen</span>
                        {% elseif score >= 9 and score <= 15 %} <span class="hardScore">Elevé</span>
                            {% elseif score > 16 %}
                            <span class="dangerScore">Danger</span>
                            {% endif %}
                            {% else %}
                            <a href="{{ path('alcool_test') }}" title="Test de dépendance à l'alcool">Faire le test</a>
                            {% endif %}
            </td>
        </tr>
        <tr>
            <td>Jours d'abstinence</td>
            <td>{{ sobers }}</td>
        </tr>
        <tr>
            <td>
                Boissons consommées sur 7 jours :
            </td>
            <td>
                {% if lastWeekDrinks[1] is not empty %}
                {{ lastWeekDrinks[1] }}
                {% else %}
                Aucun enregistrement
                {% endif %}

            </td>
        <tr>
            <td>
                Argent dépensé sur 7 jours :
            </td>
            <td>
                {% if lastWeekCost[1] is not empty %}
                {{ lastWeekCost[1] }} €
                {% else %}
                Aucun enregistrement
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                Boissons consommées au total :
            </td>
            <td>
                {% if drinks is not empty %}
                {{ drinks|reduce((q, drink) => q + drink.quantity) }}
                {% else %}
                Aucun enregistrement
                {% endif %}

            </td>
        </tr>
        <tr>
            <td>
                Argent dépensé au total :
            </td>
            <td>
                {% if drinks is not empty %}
                {{ drinks|reduce((c, drink) => c + drink.cost) }} €
                {% else %}
                Aucun enregistrement
                {% endif %}

            </td>
        </tr>
    </table>

    <br>
    <br>
    {{dump(mondayDrinks)}}

    <canvas id="myChart" width="400" height="400"></canvas>
    <br>
    <canvas id="myChart2" width="400" height="400"></canvas>

    <input type="hidden" data-sober="{{ xSober }}" id="xSober">
    <input type="hidden" data-beer="{{ xBeer }}" id="xBeer">
    <input type="hidden" data-wine="{{ xWine }}" id="xWine">
    <input type="hidden" data-spiritus="{{ xSpiritus }}" id="xSpiritus">

    <input type="hidden" data-monday="{{ mondayDrinks }}" id="mondayDrinks">
    <input type="hidden" data-tuesday="{{ tuesdayDrinks }}" id="tuesdayDrinks">
    <input type="hidden" data-wednesday="{{ wednesdayDrinks }}" id="wednesdayDrinks">
    <input type="hidden" data-thursday="{{ thursdayDrinks }}" id="thursdayDrinks">
    <input type="hidden" data-friday="{{ fridayDrinks }}" id="fridayDrinks">
    <input type="hidden" data-saturday="{{ saturdayDrinks }}" id="saturdayDrinks">
    <input type="hidden" data-sunday="{{ sundayDrinks }}" id="sundayDrinks">

    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            const ctx = document.getElementById('myChart');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [
                        'Abstinence',
                        'Bière',
                        'Vin',
                        'Alcool fort'
                    ],
                    datasets: [{
                        label: 'Répartition des alcools',
                        data: [
                            document.getElementById("xSober").dataset.sober,
                            document.getElementById("xBeer").dataset.beer,
                            document.getElementById('xWine').dataset.wine,
                            document.getElementById('xSpiritus').dataset.spiritus
                        ],
                        backgroundColor: [
                            'green',
                            'rgb(255, 205, 86)',
                            'rgb(115, 18, 18, 1)',
                            'rgb(250, 122, 3, 1)'
                        ],
                        hoverOffset: 4
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                color: 'wheat',
                                font: {
                                    size: 24,
                                    position: 'center',
                                }
                            }
                        }
                    }
                }
            })

            const ctx2 = document.getElementById('myChart2');
            const myChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche'],
                    datasets: [{
                        label: 'Tendances des jours de la semaine',
                        data: [
                            document.getElementById("mondayDrinks").dataset.monday,
                            document.getElementById("tuesdayDrinks").dataset.tuesday,
                            document.getElementById("wednesdayDrinks").dataset.wednesday,
                            document.getElementById("thursdayDrinks").dataset.thursday,
                            document.getElementById("fridayDrinks").dataset.friday,
                            document.getElementById("saturdayDrinks").dataset.saturday,
                            document.getElementById("sundayDrinks").dataset.sunday
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                color: 'wheat',
                                font: {
                                    size: 18,
                                    position: 'center',
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
    <hr>

    <p>
    <h2>Options</h2>
    <a href="{{ path('unsubscribe_posts', {'postId':1}) }}" class="custom-btn" title="Se désabonner des articles">Se
        désabonner des articles</a>
    <br><br>
    <a href="{{ path('delete_user') }}" title="Supprimer mon compte" class="btn btn-danger"
        onclick="return confirm('Supprimer définitivement votre compte et vos enregistrements ?')">Supprimer mon
        compte</a>
    </p>

</div>
{% endblock %}