{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}


<div class="container">


    <h1>Mes statistiques</h1>
    <h2>Score de dépendance : {% if user.alcoolScore is not null %} {{user.alcoolScore }} {% else %}
        <a href="{{ path('alcool_test') }}">Faire le test</a>
        {% endif %}
    </h2>
    <table class="table" data-qty="{% for qty in drinks %} {{ qty.quantity }} {% endfor %}"
        data-date="{% for date in drinks %} {{ date.date|date('d/m/y') }} {% endfor %}">
        <thead>
            <tr>
                <th>
                    Boissons consommées sur 7 jours
                </th>
                <th>
                    Argent dépensé sur 7 jours
                </th>
                <th>
                    Boissons consommées au total
                </th>
                <th>
                    Boissons consommées au total
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ lastWeekDrinks[1] }}
                </td>
                <td>
                    {{ lastWeekCost[1] }} €
                </td>
                <td>
                    {{ drinks|reduce((q, drink) => q + drink.quantity) }}
                </td>
                <td>
                    {{ drinks|reduce((c, drink) => c + drink.cost) }} €
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('delete_user') }}" class="btn btn-danger"
        onclick="return confirm('Supprimer définitivement votre compte ?')">Supprimer mon compte</a>

</div>
{% endblock %}